.userPhoto {
    weight: 100px;
    height: 100px
}

.users {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.userInfo {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-self: center;
    padding-top: 15px;
}
