.nav {
    background-color: darkcyan;
    grid-area: sidebar;
    padding: 30px;
    margin-left: 15vw;

}

.link a {
    text-decoration: none;
    font-size: large;
}

.link a.active {
    color: orangered;
}

.friends {
    padding-top: 40px;
}



.pageConstrain {
    width: 75%;
    min-width: 960px;
    max-width: 1600px;
    margin: 0 auto;
}



