* {
    margin: 0px;
    padding: 0px;
}

.app-wrapper {
    display: grid;

    grid-template-areas: "header header" "sidebar content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.app-wrapper-content {
    background-color: dimgray;
    grid-area: content;
}
